server {
  listen $PORT default_server;
  root   /usr/share/nginx/html;

  location / {
    index  index.html index.htm;
  }
  
  location ~ (js|css|img) {
    try_files $uri $uri/ =404;
    root   /usr/share/nginx/html;
  }

 location /newest {
    try_files $uri $uri/ /newest.html;
 }
 
 location /previous {
    try_files $uri $uri/ /previous.html;
 }


 location /archive {
    try_files $uri $uri/ /archive.html;
 }

 # location /live {
 #   try_files $uri $uri/ /live.html;
 # }
}
