server {
  listen $PORT default_server;
  root   /usr/share/nginx/html;

  location / {
    index  index.html index.htm;
  }
  
  location ~ (js|css|img) {
    try_files $uri $uri/ =404;
    root   /usr/share/nginx/html;
  }

 location /play_window {
    try_files $uri $uri/ /play_window.html;
 }

 # location /live {
 #   try_files $uri $uri/ /live.html;
 # }
}
