server {
  listen $PORT default_server;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }

  location /archive {
    root /usr/share/nginx/html;
    index archive.html archive.htm;
  }
}
